ul {
  list-style-type: none;
}

.typed-words {
  padding-right: 10rem;
  padding-top: 1rem;
}
li:hover {
  margin-left: -10px;
  padding-left: 10px;
  color: grey;
  font-weight: bold;
  width: 100%;
}
